.app {
  padding: 10px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  font-weight: 400;
}

.button-henchmen {
  margin-bottom: 5px;
}

.select-henchman, .active-button {
  width: 100%;
}

.chat-window {
  display: flex;
  height: 300px;
  flex: 1;
}

.henchman {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-right: 20px;
}

.chat-history {
  display: flex;
  flex: 1;
  border: 1px solid #eee;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
}

.write-message {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.message {
  margin-bottom: 10px;
}

.message-time {
  font-size: 13px;
}

.type-message {
  flex: 0.7;
  margin-right: 20px !important;
}

.send-message {
  flex: 0.1;
}

.active-button {
  border: 1px solid #000 !important;
}